{{- $dbType := .Values.database.type -}}

{{- if eq $dbType "postgresql" -}}
  {{- if not .Values.database.postgresql.deploy }}
{{- /* Only create secret for external PostgreSQL (Bitnami chart creates its own) */}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "server.fullname" . }}-database
  labels:
    {{- include "server.labels" . | nindent 4 }}
type: Opaque
stringData:
  password: {{ .Values.database.postgresql.external.password }}
  {{- end }}
{{- else if eq $dbType "mysql" -}}
  {{- if not .Values.database.mysql.deploy }}
{{- /* Only create secret for external MySQL (Bitnami chart creates its own) */}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "server.fullname" . }}-database
  labels:
    {{- include "server.labels" . | nindent 4 }}
type: Opaque
stringData:
  password: {{ .Values.database.mysql.external.password }}
  {{- end }}
{{- end -}}
